.filter-bar {
  margin-bottom: 40px;
  background-color: #b2dfdb !important;

  .toolbar {
    display: flex;
    min-height: auto;
    padding: 0;
  }

  .search-input {
    max-width: 400px;
    width: 100%;
    background-color: white;
    opacity: 0.5;

    &:hover {
      opacity: 0.7;
    }
  }
}
